<section id="comments-frame" class="container-fluid">
  <div class="row">
    <div class="col">
      <h3 class="header">
        Comments
      </h3>
      <div class="row comment-frame white-box mx-auto">
        <div class="col">
          <h3>
            {{ userComment ? "Edit your comment" : "Add new comment" }}
          </h3>
          <span *ngIf="!isAuth; else addComment"
            >You have to log in to add a comment</span
          >
          <ng-template #addComment>
            <form
              (ngSubmit)="onCommentFormSubmit()"
              [formGroup]="commentForm"
              #commForm="ngForm"
            >
              <div class="row">
                <div class="col-12">
                  <div class="row">
                    <mat-form-field
                      appearance="outline"
                      class="col-md-8 mx-auto"
                    >
                      <mat-label>Your comment</mat-label>
                      <textarea
                        matInput
                        name="comment"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="5"
                        formControlName="text"
                      ></textarea>
                      <mat-hint align="end"
                        >{{
                          commentForm.get("text").value != null
                            ? commentForm.get("text").value.length
                            : 0
                        }}/120</mat-hint
                      >
                      <mat-error
                        *ngIf="commentForm.get('text').hasError('required')"
                        >This field is required</mat-error
                      >
                      <mat-error
                        *ngIf="commentForm.get('text').hasError('maxlength')"
                        >Your comment is too long!</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-8 mx-auto text-right">
                      <button mat-raised-button type="submit" color="primary">
                        {{ userComment ? "Update comment" : "Add comment" }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </ng-template>
        </div>
      </div>
      <div
        class="row comment-frame white-box mx-auto"
        *ngFor="let comment of comments"
      >
        <h4 class="comment-title">
          {{ comment.author }}
          <span class="comment-date ml-1">
            {{ comment.updated_at | date: "d.MM.y" }}
          </span>
        </h4>
        <div class="row col-12 comment-text text-justify">
          <div class="col-12">
            {{ comment.text }}
          </div>
        </div>
      </div>
      <div
        *ngIf="comments == undefined || comments.length == 0"
        class="row my-5"
      >
        <div class="col text-center">
          Noone commented on this item, you can be the first one.
        </div>
      </div>
    </div>
  </div>
</section>
