/*--------------------------------
  OVERALL SETTINGS
  --------------------------------*/
  html {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #fbfbfb;
    color: #111;
    font-family: 'Montserrat', sans-serif !important;
  }
  
  .no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
  }
  
  #main-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 115px;
    min-height: 60vh;
  }
  
  .white-box {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: 3px 10px 16px -8px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
    padding: 15px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-weight: 600;
  }
  
  ::selection {
    background: #4ebf56;
    color: #f0f0f0;
  }
  
  ::-moz-selection {
    background: #4ebf56;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(45deg, #16733e, #4ebf56);
  }
  
  /*--------------------------------
    MENU
    --------------------------------*/

#start {
  position: absolute;
  top: 0;
}

#main-nav {
  min-height: 60px;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.navbar {
  padding: 1rem 1rem;
  background: #fdfdfd;
  -webkit-box-shadow: 0px 5px 10px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 10px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 10px -9px rgba(0, 0, 0, 0.75);
  border-top: none;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.tall-menu {
  min-height: 100px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

#main-nav .navbar-brand {
  display: flex;

  img {
    max-height: 35px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
}

.tall-menu .navbar-brand img {
  max-height: 50px !important;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.navbar {
  .navbar-nav .nav-item a {
    color: #111;
    font-size: 0.85em;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }

  .dropdown-menu {
    background: #f0f0f0;
    border: 2px solid #e8e8e8;
    border-radius: 2px;
    max-width: 120px;

    a {
      padding-left: 7px;
      padding-right: 7px;
      white-space: normal;
    }
  }
}

/*--------------------------------
    SECTIONS
    --------------------------------*/

#main_category_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    color: #111;
    font-weight: bold;
    border-radius: 20px;
    border: 1px solid #e8e8e8;
    box-shadow: 3px 10px 16px -8px rgba(0, 0, 0, 0.25);
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;

    &:hover {
      color: #e8e8e8;
      background: #16733e;
      border-color: #16733e;
      box-shadow: 0px 10px 16px -8px rgba(0, 0, 0, 0.75);
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s;
    }
  }
}

.breadcrumb {
  cursor: default !important;
  background: none;
  border: none;
  font-size: 15px;

  .breadcrumb-item:hover {
    cursor: pointer;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

a.breadcrumb-item {
  color: #111;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;

  &:hover {
    color: #16733e;
    text-decoration: none;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}

#category-menu {
  nav {
    min-height: 250px;
    padding: 25px 15px 10px 15px;
    margin-bottom: 20px;
  }

  a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #111;
    font-weight: 700;
    font-size: 15px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;

    &::before {
      content: ">";
      position: absolute;
      right: 15px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      position: absolute;
      top: 50%;
    }

    &:hover {
      text-decoration: none;
      color: #16733e;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s;
    }
  }
}

#filter-menu {
  margin-top: 20px;

  a {
    padding: 0 15px;
    text-decoration: none;
  }
}

#product_list .item {
  width: 100%;
  color: #000000;
  padding: 10px;
  margin: 0px;
  margin-bottom: 20px;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;

  &:hover {
    box-shadow: 0px 10px 16px -8px rgba(0, 0, 0, 0.75);
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}

.item {
  .item-body {
    min-height: 300px;

    .short-specification {
      font-size: 0.85rem;
    }
  }

  a {
    text-decoration: none;
    color: #111;

    &:hover {
      color: #111;
    }
  }

  .item-img {
    min-width: 260px;
    min-height: 225px;
  }
}

img.product-miniature {
  max-width: 260px;
  max-height: 225px;
}

.item .price-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.price-tag {
  .cart-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #555;
    border-radius: 100%;
    text-decoration: none;
    -webkit-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    transition: all ease 0.1s;
    border: none !important;

    &:hover {
      background: #4ebf56;
      -webkit-transition: all ease 0.1s;
      -o-transition: all ease 0.1s;
      transition: all ease 0.1s;
    }
  }

  .material-icons-outlined {
    color: white;
    font-size: 25px;
  }
}

#product_list .unstyled {
  text-decoration: none;
  color: inherit;
}

.pagination {
  font-size: 0.9rem;

  .active .page-link {
    background: #6ca663;
    border-color: #6ca663;
  }

  .page-link {
    box-sizing: border-box;
    color: #111;

    &:hover {
      color: #16733e;
      text-decoration: underline;
    }
  }
}

table.short-specification {
  th,
  td {
    border-top: none;
  }
}

#item-frame {
  margin-bottom: 20px;
  padding-top: 20px;
}

h1.header,
h2.header,
h3.header,
h4.header,
h5.header,
h6.header {
  width: 100%;
  margin: 15px 0 20px 0;
  position: relative;

  &::before {
    content: "";
    background: #bcd9b4;
    position: absolute;
    bottom: -6px;
    left: 0;
    height: 2px;
    width: 180px;
    border-radius: 4px;
  }

  &::after {
    content: "";
    background: #4ebf56;
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 4px;
    width: 80px;
    border-radius: 4px;
  }
}

#item-frame > .row {
  margin-bottom: 25px;
}

.comment-frame {
  min-height: 100px;

  .comment-title {
    margin: 15px 0 20px 0;
    position: relative;

    &::before {
      content: "";
      background: #aaa;
      position: absolute;
      bottom: -2px;
      left: 15px;
      height: 2px;
      width: 100px;
      border-radius: 4px;
    }

    &::after {
      content: "";
      background: #555;
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 4px;
      width: 40px;
      border-radius: 4px;
    }
  }
}

.comment-title .comment-date {
  color: #bbb;
}

#cart-list {
  td {
    vertical-align: middle !important;
  }

  a:hover {
    text-decoration: none;
  }

  .edit-item,
  .delete-item {
    width: 35px;
    height: 35px;
    margin: 5px;
    background: #555;
    border-radius: 100%;
    text-decoration: none;
    -webkit-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    transition: all ease 0.1s;
  }

  .edit-item:hover {
    background: #4ebf56;
    -webkit-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    transition: all ease 0.1s;
  }

  .delete-item:hover {
    background: #ca3737;
    -webkit-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    transition: all ease 0.1s;
  }

  .material-icons-outlined {
    color: white;
    font-size: 20px;
  }
}

/*--------------------------------
    LOGIN / REGISTER FORM
    --------------------------------*/
  
  #login-form, #register-form {
    mat-form-field {
      width: 100%;
    }
  }

/*--------------------------------
    FOOTER
    --------------------------------*/

footer {
  position: relative;
  bottom: 0;
  min-height: 300px;
  margin-top: 15px;
  box-sizing: border-box;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  font-weight: 500;
  color: #22313f;
  padding: 10px 0 0 0;

  .tooltip {
    background-color: #e8e8e8;
  }

  .row {
    padding: 10px 20px;
  }

  p {
    margin: 2px 0;
  }

  .credits-row {
    color: #6d7278;
  }
}

.credits-row .col-6 {
  box-sizing: border-box;
  padding: 0 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  color: #f0f0f0;
  font-size: 1.35em;
  box-shadow: 3px 3px 16px -8px rgba(0, 0, 0, 0.75);
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;

  &:hover,
  &:focus {
    box-shadow: 8px 8px 16px -8px rgba(0, 0, 0, 0.75);
    transform: scale(1.05);
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
}

#social-face {
  background: #3b5998;
}

#social-gplus {
  background: #d34836;
}

#social-twitter {
  background: #00aced;
}

#social-linkedin {
  background: #0077b5;
}

/*--------------------------------
    RESPONSYWNOŚĆ
    --------------------------------*/

@media (min-width: 0) and (max-width: 543px) {
  .tall-menu .navbar-brand img {
    max-height: 35px !important;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }

  .navbar {
    .navbar-nav {
      .nav-item .nav-link {
        padding: 5px 0 !important;
        width: 100%;
      }

      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar-collapse {
      text-align: center;
    }
  }

  /* menu centering */

  .nav-item {
    font-size: 17px;
  }
}

/* smartfony landscape & tablety portrait (sm) */

@media (min-width: 544px) and (max-width: 767px) {
  .navbar {
    padding: 0;

    .container-fluid {
      padding: 0 15px;
    }

    .navbar-nav {
      .nav-item .nav-link {
        padding: 5px 0;
        width: 100%;
      }

      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar-collapse {
      text-align: center;
    }
  }

  /* menu centering */

  .nav-item {
    font-size: 17px;
  }
}

/* tablety - małe desktopy (md)*/

@media (min-width: 768px) and (max-width: 991px) {
  .dropdown-menu {
    background: none;
    border: 0 solid #e8e8e8;

    &.active .dropdown-item {
      color: #386dec;
      background: none;
    }
  }

  .navbar {
    .navbar-nav {
      .nav-item .nav-link {
        padding: 5px 0;
        width: 100%;
      }

      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar-collapse {
      text-align: center;
    }
  }

  /* menu centering */

  .nav-item {
    font-size: 17px;
  }
}

/* małe desktopy (lg)*/

@media (min-width: 992px) and (min-width: 1199px) {
}

/* duże desktopy (xl)*/

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}
