<div class="container-fluid">
    <h3 class="header">User info:</h3>
    <table class="table">
        <tbody>
          <tr>
            <th scope="row">Adres email</th>
            <td>user's email</td>
          </tr>
          <tr>
            <th scope="row">Nazwa użytkownika</th>
            <td>user's name</td>
          </tr>
        </tbody>
    </table>
</div>
<div class="container-fluid">
    <h3 class="header">
        Orders
    </h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Order number</th>
            <th scope="col">Date</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>

                <tr>
                    <td>
                        <a href="">0000000000000</a>
                    </td>
                    <td>created_at</td>
                    <td>price</td>
                </tr>
                <tr>
                    <td colspan="3">You don't have any orders</td>
                </tr>
        </tbody>
    </table>
</div>