<div
  id="cart-list"
  class="container-fluid col-12 col-lg-10 white-box"
  *ngIf="appLoading == 1"
>
  <h3 class="header">
    Your cart
  </h3>
  <table
    class="table table-borderless"
    *ngIf="cartItems.length > 0; else noItems"
    style="table-layout: fixed;"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Amount</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="cart-item" *ngFor="let cartItem of cartItems">
        <td>
          <a
            [routerLink]="['/item/', cartItem.item_id]"
            routerLinkActive="router-link-active"
          >
            {{ cartItem.name }}
          </a>
        </td>
        <td>{{ cartItem.price.toFixed(2) }} USD</td>
        <td>
          <mat-form-field appearance="outline" class="w-50"
            ><input
              matInput
              type="number"
              value="{{ cartItem.amount }}"
              (change)="onChange($event, cartItem)"
              min="1"
          /></mat-form-field>
        </td>
        <td>{{ (cartItem.price * cartItem.amount).toFixed(2) }} USD</td>
        <td>
          <button
            mat-icon-button
            type="button"
            (click)="onDeleteCartItem(cartItem)"
          >
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-right">
          <strong>Cart total:</strong>
        </td>
        <td colspan="2" class="text-left">{{ totalOrderValue() }} USD</td>
      </tr>
    </tbody>
  </table>
  <div class="col-12 text-right" *ngIf="cartItems.length > 0">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/place-order']"
      routerLinkActive="router-link-active"
    >
      Place new order
    </button>
  </div>
  <ng-template #noItems>
    <h4>
      Your cart is empty
    </h4>
  </ng-template>
</div>
