<div
  id="product_list"
  class="container-fluid col-12"
  *ngIf="items && items.length > 0; else noItems"
>
  <div class="row item white-box w-100 d-flex" *ngFor="let item of displayedItems">
    <div
      class="col-12 col-md-3 d-flex align-items-center justify-content-center"
    >
      <a
        [routerLink]="['/item/', item.id]"
        routerLinkActive="router-link-active"
      >
        <img
          src="{{ item.photo }}"
          class="col-12 product-miniature"
          alt="photo"
        />
      </a>
    </div>
    <div class="item-body col-6">
      <a
        [routerLink]="['/item/', item.id]"
        routerLinkActive="router-link-active"
      >
        <h3 class="card-title">{{ item.name }}</h3>
      </a>
      <table
        class="table short-specification"
        [innerHTML]="item.short_specification | safe: 'html'"
      ></table>
    </div>
    <div class="price-tag col-12 col-lg-3 row">
      <div *ngIf="isAuth">
        <button
          mat-raised-button
          color="primary"
          (click)="onAddToCart(item.id)"
        >
          Add to cart
        </button>
      </div>
      <div class="row" *ngIf="!isAuth">
        <div class="col-12 text-center">
          <button mat-raised-button color="primary" disabled>
            Add to cart
          </button>
        </div>
        <div class="col-12 text-center">
          <span style="font-size: 0.8rem;">Sign in to buy</span>
        </div>
      </div>

      <span class="price col-12 d-flex justify-content-center"
        >{{ item.price }} zł</span
      >
    </div>
  </div>
  <app-pagination
    [page]="1"
    [pageSize]="this.pageSize"
    [total] = "this.items.length"
    (pageChange)="pageChange($event)"
  ></app-pagination>
</div>
<ng-template #noItems>
  <div id="product_list" class="container-fluid col-12">
    <h4 class="col-12 text-center">
      No items here
    </h4>
  </div>
</ng-template>
